In [1]:
import pandas as pd
import csv
from collections import defaultdict
from datetime import datetime
import matplotlib.patches as mpatches
import matplotlib
import time
import math
from operator import itemgetter
from scipy.spatial import distance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [51]:
recipe = pd.read_csv('./data/recipe.csv')
recipe.tail()

,recipe_id,recipe_name,recipe_method,recipe_kind,recipe_difficulty,recipe_rating,recipe_ingredient,recipe_kcal,recipe_carbohydrate,recipe_protein,recipe_fat,recipe_natrium,recipe_thumbnail,recipe_bittersweet,recipe_spicy,recipe_goso,recipe_oily,recipe_sweetsour,recipe_plain
1303,recipe-1304,맥적구이,굽기,반찬,0,0,"돼지고기(120g), 생강(10g), 소금(0.2g), 후춧가루(0.02g)\r\n...",467.7,17.60,30.7,30.5,551.7,http://www.foodsafetykorea.go.kr/uploadimg/coo...,0,0,0,0,0,0
1304,recipe-1305,채소어묵,튀기기,반찬,0,0,"생선살(100g), 맛술(10g), 생강(10g), 소금(0.2g)\r\n밀가루(2...",382.5,39.89,26.7,12.9,320.1,http://www.foodsafetykorea.go.kr/uploadimg/coo...,0,0,0,0,0,0
1305,recipe-1306,주꾸미보리죽,끓이기,밥,0,0,"주꾸미(100g), 밀가루(10g), 보리(100g)\r\n미나리(10g), 당근(...",327.4,48.70,21.8,5.0,172.7,http://www.foodsafetykorea.go.kr/uploadimg/coo...,0,0,0,0,0,0
1306,recipe-1307,오렌지삼겹찜,굽기,반찬,0,0,"삼겹살(100g), 로즈마리(5g)\r\n고구마(30g), 생크림(10g), 감자(...",638.1,22.00,26.7,49.2,206.0,http://www.foodsafetykorea.go.kr/uploadimg/coo...,0,0,0,0,0,0
1307,recipe-1308,소고기볼게살타르,굽기,반찬,0,0,"다진 소고기(100g), 마늘(10g), 양파(20g), 파프리카(20g)\r\n후...",418.0,31.80,24.8,21.3,245.8,http://www.foodsafetykorea.go.kr/uploadimg/coo...,0,0,0,0,0,0

In [53]:
recipe = recipe[['recipe_id', 'recipe_name']]
recipe.tail()

        recipe_id recipe_name
1303  recipe-1304        맥적구이
1304  recipe-1305        채소어묵
1305  recipe-1306      주꾸미보리죽
1306  recipe-1307      오렌지삼겹찜
1307  recipe-1308    소고기볼게살타르

In [54]:
length = len(recipe)

In [58]:
# user_id, rating, recipe_id
ratings = pd.read_csv('./data/ratings.csv')
ratings = ratings[['ratingNo','recipe_id', 'user_id', 'rating']]
ratings.tail()

       ratingNo    recipe_id  user_id  rating
39184     39184  recipe-1308  user-88       2
39185     39185  recipe-1308  user-89       2
39186     39186  recipe-1308  user-91       2
39187     39187  recipe-1308  user-94       1
39188     39188  recipe-1308  user-97       3

In [18]:
# user_id
users = pd.read_csv('./data/user.csv')
users = users[['ratingNo','user_id']]
users.tail()

    ratingNo   user_id
95        95   user-96
96        96   user-97
97        97   user-98
98        98   user-99
99        99  user-100

In [19]:
del ratings['ratingNo']
ratings.tail()

         recipe_id  user_id  rating
39184  recipe-1308  user-88       2
39185  recipe-1308  user-89       2
39186  recipe-1308  user-91       2
39187  recipe-1308  user-94       1
39188  recipe-1308  user-97       3

In [20]:
user_num = ratings.user_id.unique().shape[0]
recipe_num = ratings.recipe_id.unique().shape[0]

print("유저의 수는 {}명 이고, \n레시피의 수는 {}개 입니다.".format(user_num, recipe_num))

유저의 수는 100명 이고,
레시피의 수는 1308개 입니다.

In [70]:
# 사용자 샘플 선출 -> pivot table 생성
UM_matrix_ds = ratings.pivot(index='user_id',columns='recipe_id', values='rating')
UM_matrix_ds

recipe_id,recipe-1,recipe-10,recipe-100,recipe-1000,recipe-1001,recipe-1002,recipe-1003,recipe-1004,recipe-1005,recipe-1006,...,recipe-990,recipe-991,recipe-992,recipe-993,recipe-994,recipe-995,recipe-996,recipe-997,recipe-998,recipe-999
user_id,,,,,,,,,,,,,,,,,,,,,
user-1,3.0,NaN,NaN,NaN,4.0,NaN,NaN,4.0,NaN,NaN,...,5.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
user-10,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,4.0,4.0,NaN,1.0
user-100,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
user-11,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
user-12,1.0,4.0,NaN,2.0,NaN,NaN,2.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,2.0,NaN,5.0,4.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user-95,1.0,NaN,NaN,2.0,NaN,2.0,1.0,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
user-96,2.0,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
user-97,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
user-98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0
user-99,NaN,NaN,NaN,NaN,1.0,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3.0,1.0

In [80]:
def distance_cosine(a, b) :
       return 1-distance.cosine(a, b)

In [81]:
def distance_correlation(a, b) :
       return 1-distance.correlation(a, b)

In [82]:
def distance_euclidean(a, b) :
       return 1/(1+distance.euclidean(a, b))

In [83]:
def nearest_neighbor_user(user, topN, simFunc) :
    u1  =  UM_matrix_ds.loc[user].dropna()
    ratedIndex = u1.index
    nn = { }
    
    for uid, row in UM_matrix_ds.iterrows():
        interSectionU1 = [ ]
        interSectionU2 = [ ]
        if uid == user: continue
        
        for i in ratedIndex:
            if not math.isnan(row[i]):
                interSectionU1.append(u1[i])
                interSectionU2.append(row[i])
        interSectionLen = len(interSectionU1)
        
        if interSectionLen < 3: continue
        sim = simFunc(interSectionU1, interSectionU2)
        
        if not math.isnan(sim):nn[uid] = sim
                                                
#     return sorted(nn.items(), key=itemgetter(1))[::-1]
    return sorted(nn.items(), key=itemgetter(1))[:-(topN+1):-1]

In [86]:
for user in range(0, len(UM_matrix_ds)) :
      print('User {0} neighbors : {1}'.format('user-'+str(user+1), nearest_neighbor_user('user-'+str(user+1), 3, distance_cosine)))

User user-1 neighbors : [('user-79', 0.8873525883018792), ('user-75', 0.8826151617831657), ('user-65', 0.8637526728156629)]
User user-2 neighbors : [('user-42', 0.879597155335769), ('user-82', 0.8635368667338414), ('user-53', 0.8558833722757675)]
User user-3 neighbors : [('user-16', 0.8849578627702183), ('user-43', 0.8565254968724393), ('user-19', 0.8541606139626727)]
User user-4 neighbors : [('user-93', 0.8804669431007153), ('user-25', 0.8622221277213945), ('user-49', 0.8611766090660558)]
User user-5 neighbors : [('user-9', 0.8729551763737453), ('user-96', 0.8619480438685505), ('user-55', 0.8598252252087156)]
User user-6 neighbors : [('user-42', 0.8616934300748349), ('user-52', 0.8608053305542304), ('user-60', 0.8538180221532102)]
User user-7 neighbors : [('user-25', 0.85888055455711), ('user-76', 0.8568888888888889), ('user-2', 0.8548594734655425)]
User user-8 neighbors : [('user-66', 0.8714667817894), ('user-46', 0.8662915739369857), ('user-1', 0.862390171890171)]
User user-9 neighbors : [('user-5', 0.8729551763737453), ('user-64', 0.8670593188535076), ('user-13', 0.8627224083044198)]
User user-10 neighbors : [('user-59', 0.8596602737500901), ('user-55', 0.8488321944839857), ('user-64', 0.8446497374635119)]
User user-11 neighbors : [('user-83', 0.8690834902496596), ('user-15', 0.8599072605429401), ('user-13', 0.8546075217161523)]
User user-12 neighbors : [('user-32', 0.8644889728966182), ('user-6', 0.8462413510935949), ('user-29', 0.8437770429417748)]
User user-13 neighbors : [('user-9', 0.8627224083044198), ('user-39', 0.8600161730425563), ('user-77', 0.8564712427986619)]
User user-14 neighbors : [('user-44', 0.8509133402730041), ('user-17', 0.8484911128238006), ('user-15', 0.8470799275136794)]
User user-15 neighbors : [('user-93', 0.8693859780156011), ('user-87', 0.8621299566635451), ('user-21', 0.8619743632619936)]
User user-16 neighbors : [('user-3', 0.8849578627702183), ('user-41', 0.8600856430969435), ('user-27', 0.8596739431772285)]
User user-17 neighbors : [('user-89', 0.8643081551325239), ('user-59', 0.8638266005206495), ('user-49', 0.8631741107845609)]
User user-18 neighbors : [('user-39', 0.8640233814076107), ('user-48', 0.8589525695772053), ('user-86', 0.8586867806043732)]
User user-19 neighbors : [('user-28', 0.8605043164755272), ('user-43', 0.854635712467935), ('user-91', 0.8543346286739723)]
User user-20 neighbors : [('user-39', 0.8768430742567014), ('user-55', 0.8667916339182097), ('user-40', 0.8607344169250019)]
User user-21 neighbors : [('user-15', 0.8619743632619936), ('user-73', 0.8594589415600048), ('user-1', 0.8576362108620746)]
User user-22 neighbors : [('user-28', 0.8638157817488601), ('user-57', 0.8521453507741533), ('user-71', 0.8506499611942006)]
User user-23 neighbors : [('user-37', 0.8621657443438512), ('user-52', 0.8588331826639958), ('user-33', 0.8538769253082605)]
User user-24 neighbors : [('user-49', 0.873819421480166), ('user-76', 0.8550898898909525), ('user-57', 0.8531153695596055)]
User user-25 neighbors : [('user-39', 0.8786018883961114), ('user-91', 0.8659989542460129), ('user-71', 0.8625154147178834)]
User user-26 neighbors : [('user-31', 0.860960725854548), ('user-25', 0.8563035155834764), ('user-58', 0.8538324950059358)]
User user-27 neighbors : [('user-81', 0.8607027829867941), ('user-16', 0.8596739431772285), ('user-73', 0.8570783859037397)]
User user-28 neighbors : [('user-22', 0.8638157817488601), ('user-65', 0.8631553595321231), ('user-75', 0.8613840815448728)]
User user-29 neighbors : [('user-35', 0.8613309667315345), ('user-93', 0.8602526065002918), ('user-15', 0.8548297746022776)]
User user-30 neighbors : [('user-56', 0.8587770002953131), ('user-82', 0.8555919516572776), ('user-68', 0.8522481444138136)]
User user-31 neighbors : [('user-26', 0.860960725854548), ('user-66', 0.8597069113952832), ('user-15', 0.8511432259594568)]
User user-32 neighbors : [('user-12', 0.8644889728966182), ('user-81', 0.8539592118754994), ('user-33', 0.8530832015778168)]
User user-33 neighbors : [('user-86', 0.8573313771136479), ('user-23', 0.8538769253082605), ('user-32', 0.8530832015778168)]
User user-34 neighbors : [('user-68', 0.8662524225388307), ('user-66', 0.8614916296401766), ('user-98', 0.8577606948145982)]
User user-35 neighbors : [('user-29', 0.8613309667315345), ('user-25', 0.8570704514972483), ('user-60', 0.8532175713914848)]
User user-36 neighbors : [('user-81', 0.8835046242151795), ('user-85', 0.8668623371864103), ('user-49', 0.8666245679582725)]
User user-37 neighbors : [('user-23', 0.8621657443438512), ('user-46', 0.8459223312557964), ('user-44', 0.8456700009903738)]
User user-38 neighbors : [('user-64', 0.8618611482483118), ('user-68', 0.8502824901427777), ('user-18', 0.8484486551176933)]
User user-39 neighbors : [('user-25', 0.8786018883961114), ('user-20', 0.8768430742567014), ('user-18', 0.8640233814076107)]
User user-40 neighbors : [('user-20', 0.8607344169250019), ('user-89', 0.8584444942729031), ('user-73', 0.8517086517132648)]
User user-41 neighbors : [('user-16', 0.8600856430969435), ('user-79', 0.8584492651767541), ('user-60', 0.8553228888152042)]
User user-42 neighbors : [('user-2', 0.879597155335769), ('user-6', 0.8616934300748349), ('user-91', 0.8564752399270356)]
User user-43 neighbors : [('user-3', 0.8565254968724393), ('user-19', 0.854635712467935), ('user-60', 0.8462259569867193)]
User user-44 neighbors : [('user-91', 0.8607693949003831), ('user-50', 0.8561230090549946), ('user-80', 0.8527774355685372)]
User user-45 neighbors : [('user-88', 0.8686279641726161), ('user-79', 0.8549461590860475), ('user-78', 0.8549242520861162)]
User user-46 neighbors : [('user-8', 0.8662915739369857), ('user-74', 0.8618257940290289), ('user-59', 0.8605856518960142)]
User user-47 neighbors : [('user-16', 0.8578256894993022), ('user-48', 0.853966385375744), ('user-56', 0.8538671487368883)]
User user-48 neighbors : [('user-100', 0.8792259901419053), ('user-18', 0.8589525695772053), ('user-81', 0.8546264611825323)]
User user-49 neighbors : [('user-95', 0.8934327869267854), ('user-24', 0.873819421480166), ('user-36', 0.8666245679582725)]
User user-50 neighbors : [('user-70', 0.8642479194345328), ('user-55', 0.8626114358061253), ('user-83', 0.85969546226318)]
User user-51 neighbors : [('user-56', 0.8717233571293656), ('user-25', 0.8589330355421998), ('user-100', 0.857362077084596)]
User user-52 neighbors : [('user-58', 0.890757268449244), ('user-6', 0.8608053305542304), ('user-23', 0.8588331826639958)]
User user-53 neighbors : [('user-70', 0.8603009936007606), ('user-97', 0.8588501836227044), ('user-2', 0.8558833722757675)]
User user-54 neighbors : [('user-66', 0.8673738224593659), ('user-61', 0.8579425811605166), ('user-94', 0.8514595995813183)]
User user-55 neighbors : [('user-20', 0.8667916339182097), ('user-50', 0.8626114358061253), ('user-79', 0.8610098910828732)]
User user-56 neighbors : [('user-51', 0.8717233571293656), ('user-30', 0.8587770002953131), ('user-69', 0.8583869296201797)]
User user-57 neighbors : [('user-96', 0.8623191271276072), ('user-69', 0.8607597439252483), ('user-49', 0.8590449605738678)]
User user-58 neighbors : [('user-52', 0.890757268449244), ('user-79', 0.8703664409055769), ('user-95', 0.8658840619846689)]
User user-59 neighbors : [('user-17', 0.8638266005206495), ('user-46', 0.8605856518960142), ('user-10', 0.8596602737500901)]
User user-60 neighbors : [('user-28', 0.85877248098107), ('user-41', 0.8553228888152042), ('user-9', 0.8544750692107378)]
User user-61 neighbors : [('user-74', 0.8692822075696746), ('user-73', 0.8649110061097874), ('user-54', 0.8579425811605166)]
User user-62 neighbors : [('user-25', 0.8551097154585667), ('user-72', 0.8510727791728291), ('user-42', 0.8495722472702505)]
User user-63 neighbors : [('user-93', 0.8647322512901244), ('user-65', 0.8582278060424258), ('user-76', 0.8571340502280115)]
User user-64 neighbors : [('user-9', 0.8670593188535076), ('user-78', 0.8643709402985025), ('user-38', 0.8618611482483118)]
User user-65 neighbors : [('user-1', 0.8637526728156629), ('user-28', 0.8631553595321231), ('user-63', 0.8582278060424258)]
User user-66 neighbors : [('user-81', 0.8757205942444966), ('user-8', 0.8714667817894), ('user-54', 0.8673738224593659)]

User user-67 neighbors : [('user-64', 0.8589224129237321), ('user-16', 0.8574532279388077), ('user-57', 0.8475473819321789)]
User user-68 neighbors : [('user-34', 0.8662524225388307), ('user-94', 0.8554535354989778), ('user-81', 0.8543634315367674)]
User user-69 neighbors : [('user-57', 0.8607597439252483), ('user-56', 0.8583869296201797), ('user-1', 0.8519206780307919)]
User user-70 neighbors : [('user-50', 0.8642479194345328), ('user-53', 0.8603009936007606), ('user-76', 0.8553031904486218)]
User user-71 neighbors : [('user-25', 0.8625154147178834), ('user-56', 0.8559314490528386), ('user-82', 0.8511418499493604)]
User user-72 neighbors : [('user-86', 0.859870120093148), ('user-50', 0.8563265178412649), ('user-8', 0.853324932529605)]
User user-73 neighbors : [('user-61', 0.8649110061097874), ('user-21', 0.8594589415600048), ('user-5', 0.859090298663252)]
User user-74 neighbors : [('user-84', 0.8725199116971338), ('user-61', 0.8692822075696746), ('user-46', 0.8618257940290289)]
User user-75 neighbors : [('user-1', 0.8826151617831657), ('user-28', 0.8613840815448728), ('user-93', 0.8526719027788497)]
User user-76 neighbors : [('user-83', 0.861728014772436), ('user-63', 0.8571340502280115), ('user-7', 0.8568888888888889)]
User user-77 neighbors : [('user-84', 0.8673668525015393), ('user-13', 0.8564712427986619), ('user-50', 0.851236389349254)]
User user-78 neighbors : [('user-64', 0.8643709402985025), ('user-91', 0.8588318670754788), ('user-45', 0.8549242520861162)]
User user-79 neighbors : [('user-1', 0.8873525883018792), ('user-58', 0.8703664409055769), ('user-55', 0.8610098910828732)]
User user-80 neighbors : [('user-83', 0.8565918555291672), ('user-44', 0.8527774355685372), ('user-42', 0.8523265430481121)]
User user-81 neighbors : [('user-36', 0.8835046242151795), ('user-66', 0.8757205942444966), ('user-89', 0.8620532064341989)]
User user-82 neighbors : [('user-95', 0.8681794522507877), ('user-2', 0.8635368667338414), ('user-89', 0.8621419585090444)]
User user-83 neighbors : [('user-11', 0.8690834902496596), ('user-76', 0.861728014772436), ('user-50', 0.85969546226318)]
User user-84 neighbors : [('user-74', 0.8725199116971338), ('user-77', 0.8673668525015393), ('user-100', 0.8652275880171483)]
User user-85 neighbors : [('user-90', 0.8713870855001873), ('user-36', 0.8668623371864103), ('user-88', 0.8519966274425909)]
User user-86 neighbors : [('user-72', 0.859870120093148), ('user-18', 0.8586867806043732), ('user-33', 0.8573313771136479)]
User user-87 neighbors : [('user-15', 0.8621299566635451), ('user-28', 0.8502514868196374), ('user-74', 0.8493027003748475)]
User user-88 neighbors : [('user-45', 0.8686279641726161), ('user-8', 0.8611478376800338), ('user-65', 0.8568838037474078)]
User user-89 neighbors : [('user-17', 0.8643081551325239), ('user-82', 0.8621419585090444), ('user-81', 0.8620532064341989)]
User user-90 neighbors : [('user-85', 0.8713870855001873), ('user-83', 0.8482653024901853), ('user-59', 0.8471259226351113)]
User user-91 neighbors : [('user-95', 0.8664643286997327), ('user-25', 0.8659989542460129), ('user-44', 0.8607693949003831)]
User user-92 neighbors : [('user-39', 0.8521124899990224), ('user-79', 0.8515256927746006), ('user-49', 0.8507396246553904)]
User user-93 neighbors : [('user-4', 0.8804669431007153), ('user-15', 0.8693859780156011), ('user-63', 0.8647322512901244)]
User user-94 neighbors : [('user-100', 0.864392314691723), ('user-81', 0.8614902020754238), ('user-68', 0.8554535354989778)]
User user-95 neighbors : [('user-49', 0.8934327869267854), ('user-82', 0.8681794522507877), ('user-91', 0.8664643286997327)]
User user-96 neighbors : [('user-57', 0.8623191271276072), ('user-5', 0.8619480438685505), ('user-9', 0.855568101042181)]
User user-97 neighbors : [('user-49', 0.8634827719452862), ('user-25', 0.8604313162616175), ('user-53', 0.8588501836227044)]
User user-98 neighbors : [('user-34', 0.8577606948145982), ('user-88', 0.8509824272715646), ('user-1', 0.8502175598376231)]
User user-99 neighbors : [('user-52', 0.8476720343528951), ('user-7', 0.8473935983746287), ('user-17', 0.8428590711454607)]
User user-100 neighbors : [('user-48', 0.8792259901419053), ('user-84', 0.8652275880171483), ('user-94', 0.864392314691723)]

In [90]:
def predict_rating(userid, nn=100, simFunc=distance_cosine):
    neighbor = nearest_neighbor_user(userid, nn, distance_cosine)
    neighbor_id = [id for id, sim in neighbor]
    
    neighbor_recipe = UM_matrix_ds.loc[neighbor_id].dropna(1, how='all', thresh=1)
    neighbor_dict = (dict(neighbor))
    ret = []
    
    for recipe_id, row in neighbor_recipe.iteritems():
        jsum, wsum = 0, 0
        for v in row.dropna().iteritems():
            sim = neighbor_dict.get(v[0], 0)
            jsum += sim
            wsum += (v[1]*sim)
        ret.append([recipe_id, wsum/jsum])
        
    return ret

In [92]:
is_users = ratings['user_id'] == 'user-1'
users_rating = ratings[is_users]
users_rating['recipe_id']

rating_list = users_rating['recipe_id'].tolist()
rating_list

if 'recipe-10' not in rating_list:
    print("없다")

'user-1'

In [126]:
result_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 10, distance_cosine)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        if recipe[0] not in exist_recipe:
            result_list.append([user_id, recipe[0], recipe[1]])
#         result_list.append([user_id, recipe[0], recipe[1]])
    
resultdf = pd.DataFrame(result_list, columns=['user_id','recipe_id','rating'])
resultdf

        user_id    recipe_id    rating
0        user-1    recipe-10  4.000000
1        user-1   recipe-100  2.498911
2        user-1  recipe-1000  4.496946
3        user-1  recipe-1002  2.000000
4        user-1  recipe-1003  2.023335
...         ...          ...       ...
88715  user-100   recipe-993  2.613003
88716  user-100   recipe-994  5.000000
88717  user-100   recipe-995  2.667726
88718  user-100   recipe-997  2.807082
88719  user-100   recipe-999  1.502072

[88720 rows x 3 columns]

In [129]:
resultdf.tail()

        user_id   recipe_id    rating
88715  user-100  recipe-993  2.613003
88716  user-100  recipe-994  5.000000
88717  user-100  recipe-995  2.667726
88718  user-100  recipe-997  2.807082
88719  user-100  recipe-999  1.502072

In [133]:
resultdf.to_csv('C:\\SSAFY\\s04p23b205\\backend\\backend_data\\data\\predict.csv', sep=',')

In [131]:
resultdf.dtypes

user_id       object
recipe_id     object
rating       float64
dtype: object

In [140]:
for userid in resultdf['user_id'].unique():
    print(ratings[ratings['user_id']==userid]['rating'])

0        3
466      5
557      2
591      3
780      3
        ..
38796    2
38815    5
38845    1
39044    5
39155    5
Name: rating, Length: 308, dtype: int64
153      5
411      2
592      3
753      3
862      4
        ..
38476    3
38619    3
38797    3
38986    1
39100    1
Name: rating, Length: 323, dtype: int64
27       4
85       3
266      1
349      5
492      3
        ..
38381    5
38730    5
38950    4
39013    5
39131    1
Name: rating, Length: 375, dtype: int64
154      3
206      5
294      3
593      5
896      3
        ..
38562    2
38620    1
38867    5
38924    4
39045    1
Name: rating, Length: 346, dtype: int64
230      3
350      4
412      3
442      5
619      3
        ..
38594    5
38621    3
38675    4
38987    1
39014    4
Name: rating, Length: 332, dtype: int64
86       1
155      2
231      3
267      5
316      1
        ..
38676    2
38798    5
38816    1
38951    1
39156    3
Name: rating, Length: 446, dtype: int64
87       2
121      5
156      1
268      3
559      3
        ..
38817    5
38868    5
38901    4
38988    3
39015    2
Name: rating, Length: 454, dtype: int64
157      5
317      4
383      5
528      5
671      2
        ..
38952    1
38989    2
39016    2
39071    1
39101    1
Name: rating, Length: 429, dtype: int64
28       2
56       1
269      3
529      5
620      4
        ..
38732    3
38799    5
39017    5
39072    2
39102    2
Name: rating, Length: 319, dtype: int64
1        4
29       5
179      5
232      5
414      3
        ..
38704    1
38818    2
39018    3
39046    1
39103    1
Name: rating, Length: 474, dtype: int64
30       3
57       5
122      5
180      4
351      2
        ..
38733    5
38800    1
38902    4
38925    4
39047    1
Name: rating, Length: 448, dtype: int64
2        1
88       1
123      1
181      3
270      4
        ..
38734    5
38846    5
38953    4
39073    2
39157    2
Name: rating, Length: 402, dtype: int64
31       4
58       2
89       4
233      4
271      5
        ..
38801    3
38819    3
38869    2
39074    5
39158    4
Name: rating, Length: 301, dtype: int64
124      1
158      2
207      1
234      1
532      4
        ..
38847    2
38870    3
38990    1
39019    2
39048    5
Name: rating, Length: 429, dtype: int64
3        1
90       1
182      3
208      3
468      1
        ..
38926    5
38954    3
38991    4
39049    2
39075    1
Name: rating, Length: 344, dtype: int64
352      2
563      4
674      1
697      1
722      2
        ..
38707    4
38737    3
38771    2
38927    3
39076    2
Name: rating, Length: 305, dtype: int64
59       4
91       5
125      1
159      4
183      2
        ..
38647    2
38708    1
38802    5
38821    3
39159    2
Name: rating, Length: 419, dtype: int64
184      1
209      4
353      3
469      3
495      1
        ..
38709    3
38738    5
38772    1
38955    2
39104    4
Name: rating, Length: 359, dtype: int64
4        4
92       5
126      4
235      5
272      3
        ..
38648    5
38677    4
38739    2
38803    1
39105    2
Name: rating, Length: 494, dtype: int64
60       3
93       5
354      1
387      1
699      3
        ..
38057    4
38263    3
38452    4
38928    2
39050    4
Name: rating, Length: 334, dtype: int64
32       3
61       1
295      5
534      1
700      4
        ..
38740    2
38822    2
38903    3
38956    2
39160    5
Name: rating, Length: 338, dtype: int64
33       3
355      3
419      1
470      2
497      5
        ..
38481    1
38510    1
38711    5
39020    4
39132    2
Name: rating, Length: 359, dtype: int64
5        5
127      1
160      1
236      5
273      3
        ..
38649    4
38872    5
38904    4
38957    4
39161    3
Name: rating, Length: 436, dtype: int64
34       4
161      5
297      4
499      3
536      1
        ..
38873    3
38905    1
38992    1
39021    2
39133    2
Name: rating, Length: 363, dtype: int64
356      2
388      3
537      5
599      4
726      1
        ..
38678    3
38773    1
38906    5
38958    1
39134    4
Name: rating, Length: 360, dtype: int64
35       2
128      1
185      5
389      2
500      2
        ..
38959    1
39022    5
39051    4
39135    2
39162    3
Name: rating, Length: 414, dtype: int64
6        1
36       1
94       5
237      5
322      1
        ..
38422    3
38513    3
38571    3
38742    4
38993    4
Name: rating, Length: 312, dtype: int64
210      4
357      1
390      4
421      3
538      4
        ..
38804    3
38929    5
39023    4
39077    2
39136    2
Name: rating, Length: 313, dtype: int64
95       1
186      4
238      4
323      5
501      1
        ..
38960    4
38994    2
39078    1
39106    5
39137    2
Name: rating, Length: 341, dtype: int64
96       1
274      5
324      5
358      5
445      1
        ..
38353    2
38651    2
38774    4
38824    4
38851    1
Name: rating, Length: 361, dtype: int64
97       1
129      2
275      5
422      2
600      1
        ..
38825    2
38909    2
39079    1
39138    2
39163    4
Name: rating, Length: 352, dtype: int64
62       5
98       5
211      5
626      4
811      4
        ..
38629    1
38961    3
38995    3
39024    5
39107    1
Name: rating, Length: 418, dtype: int64
7        1
239      4
359      5
423      5
502      3
        ..
38826    4
38874    2
38910    2
38962    4
39164    4
Name: rating, Length: 408, dtype: int64
8        5
63       4
130      5
240      3
391      2
        ..
38540    3
38653    3
38744    2
38875    3
38963    4
Name: rating, Length: 361, dtype: int64
9        3
37       4
99       4
212      1
241      5
        ..
38541    3
38775    2
38876    5
39080    5
39165    1
Name: rating, Length: 449, dtype: int64
10       1
64       4
100      1
131      5
162      1
        ..
38486    5
38654    5
38776    4
38930    3
39052    3
Name: rating, Length: 322, dtype: int64
38       1
242      5
276      5
298      5
326      4
        ..
38425    2
38806    5
38877    5
39081    3
39108    4
Name: rating, Length: 482, dtype: int64
65       2
132      2
277      5
327      4
473      3
        ..
38996    5
39025    2
39053    3
39109    1
39166    3
Name: rating, Length: 458, dtype: int64
39       5
101      3
187      2
299      2
506      5
        ..
38487    2
38515    1
38574    5
38745    4
39139    2
Name: rating, Length: 311, dtype: int64
66       1
102      1
278      5
300      5
328      4
        ..
38778    2
38879    5
38911    2
38932    2
39167    1
Name: rating, Length: 461, dtype: int64
11       5
40       5
67       2
133      4
279      5
        ..
38912    4
38933    2
38964    2
39082    3
39140    5
Name: rating, Length: 453, dtype: int64
103      1
243      4
301      3
329      1
361      4
        ..
38746    5
38779    5
38852    5
38880    2
39110    4
Name: rating, Length: 420, dtype: int64
188      1
244      2
362      3
393      3
629      1
        ..
38683    2
38715    2
38780    1
38881    5
39026    2
Name: rating, Length: 435, dtype: int64
104      5
163      5
363      1
447      4
571      1
        ..
38828    2
38934    4
39027    1
39054    1
39168    1
Name: rating, Length: 382, dtype: int64
105      4
164      4
214      2
280      2
364      2
        ..
38632    4
38781    4
38913    2
39055    5
39111    5
Name: rating, Length: 436, dtype: int64
68       4
134      1
215      2
281      4
302      2
        ..
38428    5
38656    1
38782    1
38965    5
39056    3
Name: rating, Length: 402, dtype: int64
106      2
165      1
245      2
543      3
733      2
        ..
38853    4
38935    1
39057    2
39141    3
39169    1
Name: rating, Length: 401, dtype: int64
12       3
41       4
246      1
365      5
395      2
        ..
38684    1
38747    1
38966    2
39083    1
39170    1
Name: rating, Length: 358, dtype: int64
450      5
509      1
631      3
763      3
842      3
        ..
38882    3
38936    4
38997    2
39058    3
39171    3
Name: rating, Length: 302, dtype: int64
42       3
216      3
330      2
366      5
476      2
        ..
38361    2
38518    5
38685    2
38829    4
38998    1
Name: rating, Length: 327, dtype: int64
69       3
107      5
135      5
367      4
477      5
        ..
38748    5
38807    2
38883    4
38937    3
38967    2
Name: rating, Length: 447, dtype: int64
70       1
108      3
136      1
189      4
217      5
        ..
38544    2
38783    1
38808    3
39142    4
39172    1
Name: rating, Length: 493, dtype: int64
109      1
137      2
190      1
304      2
451      4
        ..
38716    2
38749    5
38914    4
39112    5
39143    3
Name: rating, Length: 448, dtype: int64
13       1
248      2
282      1
397      4
425      2
        ..
38042    1
38328    2
38431    1
38750    5
38809    5
Name: rating, Length: 300, dtype: int64
14       1
71       3
166      5
453      3
659      2
        ..
38999    4
39028    3
39059    2
39113    5
39144    5
Name: rating, Length: 302, dtype: int64
72       1
167      2
218      4
331      3
844      3
        ..
38855    5
38968    4
39000    4
39084    3
39145    4
Name: rating, Length: 447, dtype: int64
15       2
43       4
191      5
368      5
454      5
        ..
38752    4
38811    4
38915    2
39085    4
39114    4
Name: rating, Length: 372, dtype: int64
192      5
249      3
369      5
512      5
792      3
        ..
38400    3
38784    3
38856    4
39001    4
39173    1
Name: rating, Length: 304, dtype: int64
44       1
73       4
168      5
193      4
219      1
        ..
38689    1
38785    3
38884    3
38916    5
39060    4
Name: rating, Length: 461, dtype: int64
45       3
110      4
138      5
169      1
250      5
        ..
38885    3
38969    4
39029    5
39061    3
39115    1
Name: rating, Length: 466, dtype: int64
251      2
333      5
515      1
635      4
846      2
        ..
38465    3
38662    5
38690    1
38786    1
38917    3
Name: rating, Length: 318, dtype: int64
16       5
111      1
170      4
220      4
334      4
        ..
38970    5
39002    1
39030    5
39062    5
39146    5
Name: rating, Length: 390, dtype: int64
17       2
74       4
112      3
139      5
171      1
        ..
38580    4
38858    4
38887    2
39086    1
39174    2
Name: rating, Length: 402, dtype: int64
140      1
221      1
306      5
336      2
480      4
        ..
38832    2
38888    2
39063    5
39087    1
39175    5
Name: rating, Length: 430, dtype: int64
307      1
370      2
427      4
545      4
660      5
        ..
38692    4
38812    2
38889    2
39003    3
39031    2
Name: rating, Length: 372, dtype: int64
46       2
172      5
252      4
337      3
400      1
        ..
38523    3
38607    5
38753    3
38890    5
39176    1
Name: rating, Length: 328, dtype: int64
18       2
47       1
113      3
141      5
173      4
        ..
38813    5
38833    3
38971    2
39116    4
39177    5
Name: rating, Length: 480, dtype: int64
174      1
284      4
338      4
608      3
770      3
        ..
38608    4
39004    3
39032    5
39088    2
39117    2
Name: rating, Length: 387, dtype: int64
19       2
75       3
114      4
142      1
196      4
        ..
38859    3
39005    3
39089    4
39118    1
39178    2
Name: rating, Length: 484, dtype: int64
76       1
143      1
253      2
371      5
457      4
        ..
38755    5
39006    2
39064    2
39090    2
39119    4
Name: rating, Length: 485, dtype: int64
77       2
197      1
254      4
285      2
340      2
        ..
38172    3
38365    5
38467    2
38834    5
38891    2
Name: rating, Length: 421, dtype: int64
431      3
458      3
519      2
546      5
850      1
        ..
38583    4
38756    4
38938    4
38972    5
39120    2
Name: rating, Length: 354, dtype: int64
78       5
222      3
341      5
401      2
432      1
        ..
38757    2
38939    2
38973    3
39007    2
39121    4
Name: rating, Length: 433, dtype: int64
48       3
255      2
286      5
308      2
372      2
        ..
38835    2
38892    5
38919    2
38940    1
39065    1
Name: rating, Length: 398, dtype: int64
79       5
144      2
175      4
287      4
402      4
        ..
38719    5
38758    2
38788    3
38836    4
39122    5
Name: rating, Length: 368, dtype: int64
115      2
145      3
198      3
223      1
288      5
        ..
38468    5
38497    2
38759    1
38974    4
39123    1
Name: rating, Length: 312, dtype: int64
256      2
342      5
434      3
482      2
548      4
        ..
38695    1
38941    2
38975    1
39033    3
39179    4
Name: rating, Length: 458, dtype: int64
20       4
176      2
257      5
289      2
373      5
        ..
38254    5
38407    1
38696    1
38976    4
39124    3
Name: rating, Length: 340, dtype: int64
116      1
224      2
404      1
435      5
521      2
        ..
38942    2
39034    1
39091    3
39147    3
39180    4
Name: rating, Length: 350, dtype: int64
21       5
258      2
290      4
343      2
374      2
        ..
38894    5
39008    2
39035    2
39066    3
39181    2
Name: rating, Length: 491, dtype: int64
146      3
177      1
259      4
375      5
405      4
        ..
38761    3
38838    3
38860    4
39092    2
39182    1
Name: rating, Length: 349, dtype: int64
117      3
147      2
199      3
291      5
376      2
        ..
38613    2
38668    1
38790    5
38977    4
39125    5
Name: rating, Length: 433, dtype: int64
22       4
200      1
377      4
406      2
550      5
        ..
38839    2
38920    4
38978    4
39093    1
39148    4
Name: rating, Length: 380, dtype: int64
23       4
49       4
260      2
436      4
584      2
        ..
38979    3
39036    3
39067    2
39094    4
39126    5
Name: rating, Length: 341, dtype: int64
201      2
462      4
585      4
667      4
717      5
        ..
38921    4
38943    4
39037    1
39068    5
39183    1
Name: rating, Length: 407, dtype: int64
50       2
148      1
261      3
292      3
309      3
        ..
39038    2
39069    3
39095    5
39127    4
39149    1
Name: rating, Length: 450, dtype: int64
80       4
178      5
202      2
225      2
310      1
        ..
38723    5
38861    3
38980    2
39009    4
39039    2
Name: rating, Length: 380, dtype: int64
51       1
226      4
293      3
311      5
345      3
        ..
38862    1
38896    4
38922    4
38945    2
39184    2
Name: rating, Length: 477, dtype: int64
203      4
262      2
346      4
437      5
486      1
        ..
38841    2
38863    4
39010    4
39096    2
39185    2
Name: rating, Length: 424, dtype: int64
52       3
81       2
149      2
312      1
407      1
        ..
38764    5
38946    4
39040    4
39128    1
39150    3
Name: rating, Length: 404, dtype: int64
204      4
263      5
438      2
524      5
776      4
        ..
38864    4
38947    5
39011    5
39097    2
39186    2
Name: rating, Length: 361, dtype: int64
53       4
205      4
227      2
379      5
463      2
        ..
38765    3
38842    1
38897    5
38981    4
39098    3
Name: rating, Length: 459, dtype: int64
228      2
313      3
644      1
801      3
859      2
        ..
38701    5
38766    3
38814    5
38982    1
39151    3
Name: rating, Length: 311, dtype: int64
24       1
54       4
118      2
150      5
380      4
        ..
38672    1
38725    1
38898    4
39152    3
39187    1
Name: rating, Length: 448, dtype: int64
25       1
82       2
264      5
347      5
408      1
        ..
38843    5
38899    5
38923    5
38983    4
39129    2
Name: rating, Length: 391, dtype: int64
26       2
119      1
151      1
381      4
409      1
        ..
38865    5
38948    2
38984    2
39041    4
39153    1
Name: rating, Length: 448, dtype: int64
83       3
314      1
465      5
555      4
590      1
        ..
38794    1
38844    5
39042    2
39154    3
39188    3
Name: rating, Length: 359, dtype: int64
55       1
84       5
152      5
229      2
265      1
        ..
38560    3
38592    1
38728    3
38795    5
38985    4
Name: rating, Length: 362, dtype: int64
120      1
491      4
646      1
779      3
960      4
        ..
39012    2
39043    2
39070    5
39099    5
39130    2
Name: rating, Length: 435, dtype: int64
315      1
348      4
382      2
410      1
441      5
        ..
38312    5
38347    3
38534    2
38674    1
38703    5
Name: rating, Length: 353, dtype: int64

In [192]:
error_list = []
for i in range(0, len(users)):
    user_id = users.iloc[i].user_id
#     recipe_id = result_top10.iloc[i].recipe_id
    predict = predict_rating(user_id, 40, distance_cosine)
#     print(predict)
    
    is_users = ratings['user_id'] == user_id
    users_rating = ratings[is_users]
    exist_recipe = users_rating['recipe_id'].tolist()
    
    for recipe in predict:
        if recipe[0] in exist_recipe:
            error_list.append([user_id, recipe[0], recipe[1]])
#         result_list.append([user_id, recipe[0], recipe[1]])
    
errordf = pd.DataFrame(error_list, columns=['user_id','recipe_id','rating'])
errordf

        user_id    recipe_id    rating
0        user-1     recipe-1  3.494289
1        user-1  recipe-1001  2.716333
2        user-1  recipe-1004  2.745370
3        user-1  recipe-1008  3.176988
4        user-1  recipe-1013  3.397204
...         ...          ...       ...
39184  user-100    recipe-98  2.696866
39185  user-100   recipe-980  3.082625
39186  user-100   recipe-989  3.606289
39187  user-100   recipe-992  3.009187
39188  user-100   recipe-996  3.063611

[39189 rows x 3 columns]

In [193]:
predict = pd.merge(left = ratings[['recipe_id','user_id','rating']], right = errordf, on=['user_id','recipe_id'])

In [185]:
predict

         recipe_id  user_id  rating_x  rating_y
0         recipe-1   user-1         3  3.326241
1         recipe-1  user-10         4  2.790280
2         recipe-1  user-12         1  2.593933
3         recipe-1  user-15         1  3.994855
4         recipe-1  user-19         4  1.803402
...            ...      ...       ...       ...
39178  recipe-1308  user-88         2  2.143269
39179  recipe-1308  user-89         2  2.149402
39180  recipe-1308  user-91         2  2.110321
39181  recipe-1308  user-94         1  2.326779
39182  recipe-1308  user-97         3  2.398518

[39183 rows x 4 columns]

In [194]:
realdata_rating = predict['rating_x'].tolist()
resultdata_rating = predict['rating_y'].tolist()

error_rate_absol = mean_absolute_error(realdata_rating, resultdata_rating)
error_rate_squared = mean_squared_error(realdata_rating, resultdata_rating)
print("\nError Rate(Absolute) : ", error_rate_absol)  # MAE
print("Error Rate(Squared) : ", error_rate_squared)  # MSE
print("RMSE : ", math.sqrt(error_rate_squared))  # RMSE

Error Rate(Absolute) :  1.1773392842216803
Error Rate(Squared) :  1.8889840913932743
RMSE :  1.3744031764345113